body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: inherit;
    /* cursor: url('/assets/goblin.png'), auto; */
}

.table{
    width: 60%;
    border: 1px solid black;
    margin-top: 3%;
}

th {
    padding: 10px;
}

td {
    border: 1px solid black;
    width: 25%;
    height: 140px;
    padding: 10px;
    text-align: center;
}

.row{

}
.col{

}